@media screen and (min-width:1024px) {
    #menubar {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .page {
        display: none;
    }

    #all-table {
        margin: 0;
        width: 100%;
    }

    .item > div > select {
        width: 33%;
        padding: 5px;
    }

    .fstCont {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .page {
        display: none;
    }

    .Login {
        width: 90%;
    }

    .LoginInput {
        text-align: left;
    }

    .LoginInput > div > input {
        width: 80%;
    }

    #typeSelect {
        margin: 30px 0 0;
    }

    #MapContainer,
    #container {
        display: flex;
        flex-direction: column;
        padding: 60px 10px 0;
        margin: 10px 0 50px;
    }

    #all-table {
        margin: 0;
        width: 100%;
    }

    .item > div > select {
        width: 33%;
        padding: 5px;
    }

    .fstCont {
        margin: 0;
    }

    #MapContainer {
        width: 100%;
    }

    #Menu {
        position: fixed;
        top: 0;
    }

    #hamBar,
    #menubar > img {
        width: 30px;
        right: 0;
        margin: 20px;
        position: absolute;
    }

    li {
        font-family: 'Cafe24Ohsquare';
        font-size: 20px;
        font-weight: bold;
        display: block;
        list-style: none;
        width: auto;
        margin: 0;
        padding: 10px 20px 0;
        border: none;
        text-align: left;
    }

    #liNav {
        width:150px;
        margin: 35% 5% 0 -5%;
        background-color: green;
        padding: 20px 15px;
        border-radius: 30px;
    }

    #shortNav {
        display: block;
    }

    #longNav {
        display: none;
    }
}
